# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.Python

# Django
*.log
local_settings.py
/staticfiles/
/media/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
/frontend/dist/

venv

db.sqlite3